#######################
# General
#######################
*.zip
*.tar.gz
*.rar
*.swp

#######################
# Java stuff
#######################
# Eclipse dotfiles
.project
.classpath

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear

#######################
# Inception
#######################
.gitignore

#######################
# MacOS stuff
#######################
*.DS_store
